.qr h1 {
	background-color: $blue;
	color: white;
	text-align: center;
}
.qr_content {
	background-color: #f3f3f3;
	margin-top: 30px;
	padding-left: 20px;
}
.qr_content p{
	margin-left: 20px;
}
.qr_form h2{
	margin-top: 80px;
	text-align: center;
	background-color: $blue;
	color: white;
}
