/* Footer CSS */
.footer-links {
	min-height: auto;
	padding-top: 5px;
	background-color: $dark-blue;
}

.footer-links a{
	color: #D2D2D2;
	font-size: 13px;
}
.footer-links p{
	color: #D2D2D2;
	font-size: 13px;
	padding-right: 15px;
	padding-left: 15px;
	border-right: 1px solid #D2D2D2;
	display: inline-block;
}

/* .mapper > #map-opener / #map 
 .mapper = Contient tout les elements du mapper */

.mapper {
	min-height: 50px;
	background-color: $dark-blue;
	text-align: center;
}
.mapper nav {
	min-height: 100px;
	background-color: $dark-blue;
}
.mapper ul {
	margin-bottom: 3px;
}

/* #map-opener = Bouton pour activer l'ouverture de la map */
#map-opener{
	padding-top: 10px;
	display: inline-block;
	min-height: 30px;
}
#map-opener a{
	font-family:$font-title;
	color: white;
	font-size: 22px;
	line-height: 18px;
}
@media screen and (max-width: 640px){
	#map-opener a {
		font-family:$font-title;
		color: white;
		font-size: 18px;
		line-height: 18px;
	}
}
#map-opener img{
	width: 25px;
	height: 25px;
}
#map-open {
	display: inline-block;
}

/* #map = Contient la map */
#map {
	height: 120px;
	opacity: 0.15;
}

#map-close {
	display: none;
}


/* Bouton scroll to top */
#scroll-top {
	float: right;
	width: 70px;
	height: 70px;
	margin-right: 30px;
	padding-top: 25px;
}

