.guide_sous_section {
	margin-left: 10px;
}
.guide_content h3 {
	background-color: $blue;
	color: white;
	padding-left: 10px;
}
.guide_content h2 {
	background-color: $blue;
	color: white;
	padding-left: 10px;
}
._titles {
	background-color: $dark-blue;
	color: white;
	font-size: 40px;
	text-align: center;
}

.aside_guide_sous_section {
	margin-left: 10px;
	line-height: 18px;
	font-size: 15px;
}

.aside_guide_section {
	line-height: 18px;
	font-size: 15px;
}

.nav_guide h5 {
	text-decoration: underline;
}
