
<aside class="large-3 columns">

        <h4><u>Actualités :</u></h4>
        {% setcontent actualites = "actualites/latest/5" %}
        <ul>
        {% for record in actualites %}
          <li><a href="{{ record.link }}">{{ record.title }}</a></li>
        {% endfor %}
          <p><a href="{{ paths.root }}actualites"><i>Plus d'articles...</i></a></p>
        <ul>

</aside>

