
<div id="carrousel">
	
    <ul>
    <li><img src="http://nsa38.casimages.com/img/2015/09/21/150921085715661907.jpg" alt="" width="640" height="310"/></li>
	<li><img src="http://nsa37.casimages.com/img/2015/09/23/15092303303864549.png" alt="" width="640" height="310"/></li>
	<li><img src="http://nsa37.casimages.com/img/2015/09/23/150923032943313869.png" alt="" width="640" height="310"></li>
	<li><img src="http://nsa37.casimages.com/img/2015/09/23/150923032900842860.png" alt="" width="640" height="310"/></li>
	<li><img src="http://nsa37.casimages.com/img/2015/09/21/150921090127394583.jpg" alt="" width="640" height="310"/></li>
    </ul>
</div>

<!-- on inclut la bibliothèque depuis les serveurs de Google -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>