<div id="slider">

  <figure>
    <img src="http://nsa38.casimages.com/img/2015/09/21/150921085454890504.jpg" alt="" width="640" height="310">
    <img src="http://nsa38.casimages.com/img/2015/09/21/150921085715661907.jpg" alt="" width="640" height="310">
    <img src="http://nsa37.casimages.com/img/2015/09/21/150921085825403281.jpg" alt="" width="640" height="310">
    <img src="http://nsa38.casimages.com/img/2015/09/21/150921085911293096.jpg" alt="" width="640" height="310">
    <img src="http://nsa37.casimages.com/img/2015/09/21/150921090127394583.jpg" alt="" width="640" height="310" >
    <img src="http://nsa38.casimages.com/img/2015/09/21/150921085454890504.jpg" alt="" width="640" height="310" >
  </figure>

</div>
