{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->
    {# include the sidebar. The include tag can be used to break up your templates in logical parts,
       and re-use them across different templates/pages. #}
    {% include '_aside.twig' %}

    <!-- Main Blog Content -->
    <div class="large-9 columns">
    	<main>
        {# si descriptif existe mettre titre en h1 et le corps en p1. #}
        {{ slug }}
      </main>
    </div>

    <!-- End Main Content -->

<!-- End Main Content and Sidebar -->



{% include '_footer.twig' %}
