{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->
    {# include the sidebar. The include tag can be used to break up your templates in logical parts,
       and re-use them across different templates/pages. #}
    {% include '_aside.twig' %}

    <!-- Main Blog Content -->
    <div class="large-9 columns">
    	<main>
  <div class="container">
    <div class="page-header">
      <h1>Record!</h1>
      <p>This is a generic record.</p>
    </div>
    <div class="page-content">
      <h2>Record Stuff Here</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eum tempore optio corporis aspernatur tempora temporibus vero maxime consectetur dolorum dolore vel numquam aut iure, esse, repudiandae nemo animi, vitae.</p>
    </div>
  </div>
</main>

    </div>

    <!-- End Main Content -->

<!-- End Main Content and Sidebar -->



{% include '_footer.twig' %}
